body { 
  background-color: #fff;
  display: block;
}

#main {
  display: block;
  background-color: #eee;
  border-radius: 5px;
}


#title {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  font-family:  sans-serif;
  color: rgba(0, 0, 0, 0.8)
  
}

article {
  margin-top: 30px;
  padding-top: 10px;
}

p {
  display: block;
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 25px;
}

.img-div{
  background-color: #fff;
  border: solid 30px white;
}

#image {  
  display: block;
  max-width: 50%;
  height: auto;
   margin-left: auto;
  margin-right: auto;
}

#img-caption {  
  font-family: sans-serif;
  padding-top: 30px;
  text-align: center;
}

#tribute-info
{
  margin-top: 50px;
}
h2 {
  font-family: sans-serif; 
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8)

}

ul {
  display: block
  font-size: 18px;
  position: relative;
  left: 19%;
}

q{
  display: block;
  font-size: 15px;
  max-width: 50%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  line-height: 25px;
}

cite {
  display: block;
  font-size: 15px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.ending {
  font-size: 18px;
  font-weight: 900;
}